{% extends "base.html" %}

{% set page_title = "Book" %}
{% block content %}

    <div class="list-group">
        {% for book in books %}
            <a href="/book/{{ book.id }}"
               class="list-group-item list-group-item-action">{{ book.title }}</a>
        {% endfor %}
    </div>
    <br>
    {% if user.super == True %}
        <a href="/book/new" class="btn btn-primary">➕ Add New Book</a>
    {% endif %}
    <br>
    {% for i in range(1, total_pages+1) %}
        <a href="?page={{i}}">{{i}} </a>
    {% endfor %}
{% endblock %}
