<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Library</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/book">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/author">Author</a>
        </li>
        {% if user.super == True %}
          <li class="nav-item">
            <a class="nav-link" href="/student">Student</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="borrowDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Borrow
            </a>
            <ul class="dropdown-menu" aria-labelledby="borrowDropdown">
              <li><a class="dropdown-item" href="/borrow/take">Take</a></li>
              <li><a class="dropdown-item" href="/borrow/return">Return</a></li>
              <li><a class="dropdown-item" href="/borrow/all">All</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if not user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="registerDropdown">
              <li><a class="dropdown-item" href="/register/student">Student</a></li>
              <li><a class="dropdown-item" href="/register/employee">Employee</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.full_name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
